html[data-theme="theme4"] {
    --theme-appearance: light;
    --color-dark: #FFEFF5;
    --color-light: #1F7CFF;
    --color-light-80: color-mix(in srgb, var(--color-light) 80%, transparent);
    --color-light-20: color-mix(in srgb, var(--color-light) 20%, transparent);
    --color-light-05: color-mix(in srgb, var(--color-light) 5%, transparent);
}
