html[data-theme="theme1"] {
    --theme-appearance: dark;
    --color-dark: #9E2B25;
    --color-light: #FFF8F0;
    --color-light-80: color-mix(in srgb, var(--color-light) 80%, transparent);
    --color-light-20: color-mix(in srgb, var(--color-light) 20%, transparent);
    --color-light-05: color-mix(in srgb, var(--color-light) 5%, transparent);
}