html[data-theme="theme3"] {
    --theme-appearance: dark;
    --color-dark: #0F0F0E;
    --color-light: #F196E5;
    --color-light-80: color-mix(in srgb, var(--color-light) 80%, transparent);
    --color-light-20: color-mix(in srgb, var(--color-light) 20%, transparent);
    --color-light-05: color-mix(in srgb, var(--color-light) 5%, transparent);
}