@import 'tailwindcss';
@import './themes/theme1.css';
@import './themes/theme2.css';
@import './themes/theme3.css';
@import './themes/theme4.css';
@import './cursor.css';

@layer base {
  html {
    --color-dark: #DD6E42;
    --color-light: #E8DAB2;
    --color-light-80: #E8DAB2BF;
    user-select: none;
  }
}