@import 'tailwindcss';
@import './themes/theme1.css';
@import './themes/theme2.css';
@import './themes/theme3.css';
@import './themes/theme4.css';
@import './themes/theme5.css';
@import './cursor.css';

@layer base {
  html {
    user-select: none;
    min-height: 100vh;
  }
  
  body {
    min-height: 100vh;
  }
  
  html:not([data-theme]) {
    --color-dark: #0C0C0C;
    --color-light: #eeeeee;
    --color-light-80: color-mix(in srgb, var(--color-light) 80%, transparent);
  }
}